<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Bharat Petroleum |Oil & Gas Companies in India |Top Petroleum Companies | Petroleum Distribution companies</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<header>
   <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/images/logo-new.png" alt="logo" class="logo">
            </div>
              <div class="col-md-7">
                  <h2>Energising the Nation</h2>
                  <hr/>
                  <p>BPCL refineries are equipped with latest global technologies to produce BS VI fuels</p>
            </div>
        </div> 
    </div>    
</header>
<section class=" login-reg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
			<div class="login-main">
			<div class="login">
                        <h4>Add Distributor </h4>
						<hr/>
						<div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder=" Name*">
                                    </div>
                                </div>
								 <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="Mobile Number*">
                                    </div>
                                </div>
								
								
						
								
								 <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="Address 1*">
                                    </div>
                                </div>
								 <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="Address 2">
                                    </div>
                                </div>
								 <div class="col-md-6">
								     <div class="form-group">
								<label>City*</label>
								  <select id="inputState" class="form-control">
									<option selected>Select City</option>
									<option>Mumbai</option>
									<option>Mumbai</option>
								  </select>
								  </div>
								  </div>
								   <div class="col-md-6">
								       <div class="form-group">
								<label>State*</label>
								  <select id="inputState" class="form-control">
									<option selected>Select State</option>
									<option>Maharashtra</option>
									<option>Maharashtra</option>
								  </select>
								  </div>
								  </div>
								   <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="Pin Code*">
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder=" Telephone">
                                    </div>
                                </div>
						</div>	
						
				<h4>Contact Person </h4>	
			  <hr/>

						<div class="row">
                                 <div class="col-md-6">
                                     <div class="form-group">
                                    <select id="inputState" class="form-control">
									<option selected>Title*</option>
									<option>Please Select </option>
									<option>Mr.</option>
								  </select>
								  </div>
                                </div>
								 <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="Name*">
                                    </div>
                                </div>
								<div class="col-md-4">
                                    <div class="form-group">
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="Email id*">
                                    </div>
                                </div>
									<div class="col-md-4">
                                    <div class="form-group">
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="Mobile No.*">
                                    </div>
                                </div>
								<div class="col-md-4">
                                    <div class="form-group">
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="Telephone">
                                    </div>
                                </div>
							
						</div>	
						
							<hr style="padding-top:40px;">
							<div class="row">
                       
                                	<div class="col-md-6">
								 <a href="#" class="sub-btn" type="" value=""> Upload Profile </a>
								 </div>
						</div>
		
						
			</div>			
			</div>
			</div>
		</div>	
	</div>
</section>	


<footer>
    <p>2020 Copyright Bharat Petroleum Corporation Limited All Rights Reserved.</p>
</footer>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>
