<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Bharat Petroleum |Oil & Gas Companies in India |Top Petroleum Companies | Petroleum Distribution companies</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<section class=" login-reg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
<nav class="vertical-menu-wrapper">
  <div class="vertical-menu-logo">
    <div><img src="assets/images/logo-new.png" alt="logo" class="logo" style="width:200px;"></div>
    <span class="open-menu-btn"><hr><hr><hr></span>
  </div>
  <ul class="vertical-menu">
  <li>Vendor </li>
 
    <li> <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;Vendor Profile </li>
    <li><i class="fa fa-first-order" aria-hidden="true"></i>  &nbsp;Vendor  Order </li>

    <hr/>
    <li>Distributor</li>
    
   <li> <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;Distributor  Profile </li>
    <li><i class="fa fa-first-order" aria-hidden="true"></i>  &nbsp; Distributor Order </li>
  </ul>

</nav>

<div class="content-wrapper">
  <div class="content">
                        <h4> Order Product </h4>
						<hr/>
						<div class="row">
						     <div class="col-md-6">
				                <div class="form-group">
							 <label>Material Type</label>
								  <select id="inputState" class="form-control">
									<option selected>	AG Palmolein Oil</option>
								
								
								

								  </select>
								  </div>
								   </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Material Name* </label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="Agri Gold Palmolein Oil" title="Material Name* ">
                                    </div>
                                </div>
                                    <div class="col-md-6">
                                    <div class="form-group">
									<label>Upload Product image / Product Brochure</label>
                                       <img src="assets/images/product1.jpg" class="img-responsive"  style="width:50%;">
                                    </div>
                                </div>
								 <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Material Code</label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="Material Code SN100001" title="Material Code">
                                    </div>
                                </div>
								
								
                                	 <div class="col-md-12">
                                	        

                                    <div class="form-group">
                                        <label>Product Description</label>
                                       <p>Highlights- Used For: Cooking, Processing Type: Refined</p>
                                    </div>
                                </div>
						</div>	
						
				<h4>Product Price </h4>	
			  <hr/>

				<div class="row">
                                 <div class="col-md-3">
                                    <div class="form-group">
                                           <label>Billing price</label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="714" title="Billing price">
                                    </div>
                                </div>
								 <div class="col-md-3">
                                    <div class="form-group">
                                          <label>Margin</label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="714" title="Margin">
                                    </div>
                                </div>
                                	<div class="col-md-3">
                                    <div class="form-group">
                                        <label>MRP</label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="1400" title="MRP">
                                    </div>
                                </div>
    
								<div class="col-md-3">
                                    <div class="form-group">
                                          <label>BPCL Special Price</label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="10%" title="BPCL Special Price" >
                                    </div>
                                </div>
								
							
						</div>		
						
								<h4>Package Details </h4>	
			  <hr/>

				<div class="row">
				           
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Package*</label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="CAS" title="Package">
                                    </div>
                                </div>
								 <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Base Unit*</label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder=" NO" title="Base Unit">
                                    </div>
                                </div>
                                
                                
                                
                                	<div class="col-md-3">
                                    <div class="form-group">
                                        <label>Base/Pkg</label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="1" title="Base/Pkg">
                                    </div>
                                </div>
								<div class="col-md-3">
                                    <div class="form-group">
                                          <label>Sale Unit*</label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="CAS" title="Sale Unit">
                                    </div>
                                </div>
									<div class="col-md-3">
                                    <div class="form-group">
                                          <label>Price Unit*</label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="NO*" title="Price Unit">
                                    </div>
                                </div>
                                	<div class="col-md-3">
                                    <div class="form-group">
                                          <label>Min Qty*</label>
                                        <input id="listing_name" name="listing_name" type="text" required="required" class="form-control" value="" placeholder="1 title="Min Qty">
                                    </div>
                                </div>
								
							
						</div>	
						
						      <h4>Stockist Details </h4>
						<hr/>
						<div class="customer_records">
						<div class="row">
						    
                                 <div class="col-md-6">
                                    <div class="form-group">
							 <label>Select Stockists</label>
								  <select id="inputState" class="form-control">
									<option selected>ABC Ltd Mumbai</option>
								
								  </select>
								  </div>
                                </div>
								 <div class="col-md-6">
                                    <div class="form-group">
                                    	 <label>Inventory</label>
                                        <input id="listing_name" name="Inventory" type="text" required="required" class="form-control" value="" placeholder="50" title="Inventory"> 
                                    </div>
                                </div>	
                             </div>    
                         </div>      
                            
                                 
                                 <div class="customer_records_dynamic"></div>
                                 
                                 	<div class="col-md-6">
								 <a href="#" class="sub-btn" type="" value=""> Submit </a>
								 </div>
			</div>
						
			</div>			
			</div>
			</div>
		</div>	

</section>	


<footer>
    <p>2020 Copyright Bharat Petroleum Corporation Limited All Rights Reserved.</p>
</footer>



  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
  $('.extra-fields-customer').click(function() {
  $('.customer_records').clone().appendTo('.customer_records_dynamic');
  $('.customer_records_dynamic .customer_records').addClass('single remove');
  $('.single .extra-fields-customer').remove();
  $('.single').append('<a href="#" class="remove-field btn-remove-customer">Remove Fields</a>');
  $('.customer_records_dynamic > .single').attr("class", "remove");

  $('.customer_records_dynamic input').each(function() {
    var count = 0;
    var fieldname = $(this).attr("name");
    $(this).attr('name', fieldname + count);
    count++;
  });

});

$(document).on('click', '.remove-field', function(e) {
  $(this).parent('.remove').remove();
  e.preventDefault();
});
  </script>

</body>
</html>
