<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Bharat Petroleum |Oil & Gas Companies in India |Top Petroleum Companies | Petroleum Distribution companies</title>
 
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">

<!-- Bootstrap -->

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

<link href="css/stylesheet.css" rel="stylesheet">

<link href="css/responsive.css" rel="stylesheet">

<link href="css/jquery.scrolling-tabs.css" rel="stylesheet" type="text/css">

<link href="css/bootstrap.offcanvas.min.css" rel="stylesheet" type="text/css">

<link href="css/owl.carousel.css" rel="stylesheet" type="text/css">

<link href="css/easy-responsive-tabs.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="css/magiczoomplus.css" rel="stylesheet" type="text/css">

<style>
.carousel {
  position: relative;
  height: 529px;
  overflow: hidden;
}

.carousel-holder {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.carousel-holder .carousel-item {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.carousel-holder .carousel-item .img-responsive {
  position: relative;
  left: 0;
  top: 0;
  transition: all 1s ease 0s;
  transform: perspective(100vw) translateZ(15vw);
  opacity: 0;
  width: 100%;
}
.carousel-holder .carousel-item.active .img-responsive {
  opacity: 1;
  transform: perspective(100vw) translateZ(0);
}
</style>
</head>
<body>


<!--top content-->

<div class="top-content">

  <div class="container">

    <div class="row">

      <div class="col-md-4 col-sm-3 col-xs-3 text-xs-left">

        <div class="inline-block mob-bdr-right mob-padd-right-7 mob-mrg-right-5"><a href="#" class="visible-xs"><img src="images/shop-icon.png"  alt="" /></a></div>

        <div class="inline-block sell-icon-mob"><a href="#" class="visible-xs"><img src="images/sell-icon.png"  alt="" /></a></div>

        <span class="shopping-icon hidden-xs"> <a href="#">SHOP OUR PRODUCTS</a></span> </div>

      <div class="col-md-4 col-sm-4 hidden-xs text-lg-center text-xs-center mob-mrg-10">  <a href="tel:1800 22 4344" > Toll-Free 1800 22 4344</a> </div>

      <div class="col-md-4 col-sm-5 col-xs-9 text-lg-right text-xs-right">

           <div class="inline-block"> 
            <span class="login-icon"><a class="login" href="">Login</a></span> 
            <span class="register-icon"><a class="register" href="">Register</a></span> 
           
            </div>
            <div class="inline-block"> 
            
             <a href="#"><div class="shopping_cart" title="Viewcart"><i class="fa  fa-shopping-basket" aria-hidden="true"></i></div> </a>
            </div>
      </div>

    </div>

  </div>

</div>

<!--top content End-->





<div class="container-fluid bdb">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="images/logo-new.png" alt="">
        </a>
      </div>
      <div id="navbar1" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">

                
				

                    <li><a href="#">About BPCL</a></li>

					<li class="dropdown show-on-hover">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Products<span class="caret"></span></a>

                            <ul class="dropdown-menu">

                           	<ul class="border-dotted-bottom">

                                                	<li><a href="#">Agri Gold Palmolein Oil</a></li>

                                                	<li><a href="#">Agri Gold Palmolein Oil</a></li>

                                                	<li><a href="#">Agri Gold Palmolein Oil</a></li>

                                                	<li><a href="#">See All</a></li>

                                                </ul>

                            </ul>      

                    </li>
                    
					
					 <li><a href="#">Our Businesses</a></li>

                    <li><a href="#">Contact Us</a></li>
					
					<li><a href="#">Complaint / Feedback</a></li>
					
					<li><a href="#">Customer Support</a></li>
					
					<li><a href="#"><img src="https://www.bharatpetroleum.com/images/img_smart-line.png" class="new-icon"></a></li>
				

                </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>

    
<!--navBar content End-->

<!--full width slider-->
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="" contenteditable="false"></li>
    <li data-target="#myCarousel" data-slide-to="1" class="active" contenteditable="false"></li>
    <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
  </ol>
  <div class="carousel-holder container-fluid" role="listbox">
    <div class="item carousel-item active">
            <img class="img-responsive" src="images/side-slide01.jpg" />
			<div class="banner_textt">
			<h1>Energising Homes</h1>
			<hr/>
			<p>Delivering LPG to the remotest homes of India</p>
            </div>
		</div>	

        <div class="item carousel-item">
            <img class="img-responsive" src="images/side-slide02.png" />
			<div class="banner_textt">
			<h1>Energising Homes</h1>
			<hr/>
			<p>Delivering LPG to the remotest homes of India</p>
            </div>
		</div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"> 
 <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 
 </a> 
 <a class="right carousel-control" href="#myCarousel" data-slide="next"> 
  <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 
  </a>
  </div>
<!-- slider end-->



<!--center block content-->
<div class="container-fluid">
  <div class="padd-t-b-50 center-block">
    <div class="row">
       <div class="col-md-2 col-sm-3 col-xs-6 text-center mob-mrg-20"> <img class="center-block" src="images/gas-shegdi.png" alt="" /> Product Name </div>
       <div class="col-md-2 col-sm-3 col-xs-6 text-center mob-mrg-20"> <img class="center-block" src="images/lighter.png" alt="" /> Product Name</div>
       <div class="col-md-2 col-sm-3 col-xs-6 text-center mob-mrg-20"> <img class="center-block" src="images/Gas.png" alt="" /> Product Name </div>
       <div class="col-md-2 col-sm-3 col-xs-6 text-center mob-mrg-20"> <img class="center-block" src="images/burner.png" alt="" /> Product Name </div>
	   <div class="col-md-2 col-sm-3 col-xs-6 text-center mob-mrg-20"> <img class="center-block" src="images/gas-shegdi.png" alt="" /> Product Name </div>
	   <div class="col-md-2 col-sm-3 col-xs-6 text-center mob-mrg-20"> <img class="center-block" src="images/Gas.png" alt="" /> Product Name </div>
    </div>
  </div>
</div>
<!-- Products category end-->


<div class="col-md-12 text-center product-title"><h3> 
<img class="left-corner lazy" src="images/lt.png" data-src="images/lt.png" alt="" style="display: inline;">
Featured Products
<img class="rt lazy" src="images/rt.png" data-src="images/rt.png" alt="" style="display: inline;">
</h3></div>
<div class="container">
<div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="brand1" aria-labelledby="brand1-tab">
        	<div class="new-arrivals-wrap">
    <div class="row">
      <div class="col-md-3 col-xs-6 mob-mrg-10">
        <div class="new-arrivals text-xs-center"> <img src="images/product1.jpg" alt="" class="img-responsive" /> </div>
        <span class="product-title">Agri Gold Palmolein Oil <br />
        </span> <span class="product-price"><span class="price-color"><i class="fa fa-rupee"></i>  719</span> <strike><i class="fa fa-rupee"></i>  1400</strike></span>
		</div>
        <div class="col-md-3 col-xs-6 mob-mrg-10">
        <div class="new-arrivals text-xs-center"> <img src="images/product1.jpg" alt="" class="img-responsive" /> </div>
        <span class="product-title">Agri Gold Palmolein Oil <br />
        </span> <span class="product-price"><span class="price-color"><i class="fa fa-rupee"></i>  719</span> <strike><i class="fa fa-rupee"></i>  1400</strike></span>
		</div>
		  <div class="col-md-3 col-xs-6 mob-mrg-10">
        <div class="new-arrivals text-xs-center"> <img src="images/product1.jpg" alt="" /> </div>
        <span class="product-title">Agri Gold Palmolein Oil <br />
        </span> <span class="product-price"><span class="price-color"><i class="fa fa-rupee"></i>  719</span> <strike><i class="fa fa-rupee"></i>  1400</strike></span>
		</div>
		  <div class="col-md-3 col-xs-6 mob-mrg-10">
        <div class="new-arrivals text-xs-center"> <img src="images/product1.jpg" alt="" /> </div>
        <span class="product-title">Agri Gold Palmolein Oil <br />
        </span> <span class="product-price"><span class="price-color"><i class="fa fa-rupee"></i>  719</span> <strike><i class="fa fa-rupee"></i>  1400</strike></span>
		</div>
    </div>
  </div>
        </div>
      </div>
</div>
<!--Featured Products end-->


<div class="col-md-12 text-center product-title"><h3> 
<img class="left-corner lazy" src="images/lt.png" data-src="images/lt.png" alt="" style="display: inline;">
Top Products For You
<img class="rt lazy" src="images/rt.png" data-src="images/rt.png" alt="" style="display: inline;">
</h3></div>

<div class="toppp">
<div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 mob-mrg-10">
	   <ul>
	   <li> <img src="images/product1.jpg" alt="" class="img-responsive" /></li>
	   <li class="media-middle"> 
	    <span class="product-title">Agri Gold Palmolein Oil <br /></span>
		<span class="product-price"><span class="price-color"><i class="fa fa-rupee"></i>  719</span> <strike><i class="fa fa-rupee"></i>  1400</strike></span>
	   </li>
		</ul>
		</div>
		
		    <div class="col-md-6 col-xs-12 mob-mrg-10">
	   <ul>
	   <li> <img src="images/product1.jpg" alt="" class="img-responsive" /></li>
	   <li class="media-middle"> 
	    <span class="product-title">Agri Gold Palmolein Oil <br /></span>
		<span class="product-price"><span class="price-color"><i class="fa fa-rupee"></i>  719</span> <strike><i class="fa fa-rupee"></i>  1400</strike></span>
	   </li>
		</ul>
		</div>
		
		
		    <div class="col-md-6 col-xs-12 mob-mrg-10">
	   <ul>
	   <li> <img src="images/product1.jpg" alt="" class="img-responsive" /></li>
	   <li class="media-middle"> 
	    <span class="product-title">Agri Gold Palmolein Oil <br /></span>
		<span class="product-price"><span class="price-color"><i class="fa fa-rupee"></i>  719</span> <strike><i class="fa fa-rupee"></i>  1400</strike></span>
	   </li>
		</ul>
		</div>
		
		
		    <div class="col-md-6 col-xs-12 mob-mrg-10">
	   <ul>
	   <li> <img src="images/product1.jpg" alt="" class="img-responsive" /></li>
	   <li class="media-middle"> 
	    <span class="product-title">Agri Gold Palmolein Oil <br /></span>
		<span class="product-price"><span class="price-color"><i class="fa fa-rupee"></i>  719</span> <strike><i class="fa fa-rupee"></i>  1400</strike></span>
	   </li>
		</ul>
		</div>
 
    </div>
    </div>
</div>

<!--top product end-->





<!--footer links -->
<div class="footer-links">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-6">
        <div class="contc">
            <a href="tel:1800 22 4344" > Toll-Free 1800 22 4344</a>
            </div>
        </div>
      <div class="col-md-6 col-xs-12 col-sm-6">
     <div class="social-media-icon"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a> </div>
     
        </div>
    </div>
    </div>
  </div>
</div>


<!--footer copy right-->
<div class="footer-copy">
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center">2020 Copyright Bharat Petroleum Corporation Limited All Rights Reserved.</div>
    </div>
  </div>
</div>

<a id="back-to-top" href="#" class="back-to-top btn-primary" role="button" data-toggle="tooltip" data-placement="left">
<i class="fa fa-angle-up" aria-hidden="true"></i></a>



<a id="back-to-top" href="#" class="back-to-top btn-primary" role="button" data-toggle="tooltip" data-placement="left">

<i class="fa fa-angle-up" aria-hidden="true"></i></a>

<!--footer copy right End-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

<script src="js/jquery.scrolling-tabs.js"></script>

<script src="js/bootstrap.offcanvas.min.js"></script>

<script src="js/easy-responsive-tabs.js"></script>



<script>
(function($) {
  'use strict';
  $(document).on('show.bs.tab', '.nav-tabs-responsive [data-toggle="tab"]', function(e) {
    var $target = $(e.target);
    var $tabs = $target.closest('.nav-tabs-responsive');
    var $current = $target.closest('li');
    var $parent = $current.closest('li.dropdown');
		$current = $parent.length > 0 ? $parent : $current;
    var $next = $current.next();
    var $prev = $current.prev();
    var updateDropdownMenu = function($el, position){
      $el
      	.find('.dropdown-menu')
        .removeClass('pull-xs-left pull-xs-center pull-xs-right')
      	.addClass( 'pull-xs-' + position );
    };

    $tabs.find('>li').removeClass('next prev');
    $prev.addClass('prev');
    $next.addClass('next');
    
    updateDropdownMenu( $prev, 'left' );
    updateDropdownMenu( $current, 'center' );
    updateDropdownMenu( $next, 'right' );
  });

})(jQuery);

jQuery(".fa-icon-menu").click(function(){
	$( ".dor-verticalmenu" ).slideToggle( "fast", function() {
		var isVisible = $( ".dor-verticalmenu" ).is( ":visible" );
	});
});

$(".login").fancybox({
	'hideOnContentClick': true,
});

$(".register").fancybox({
	'hideOnContentClick': true,
});

$(".forgot-password").fancybox({
	'hideOnContentClick': true,
});


$(window).scroll(function () {
	if ($(this).scrollTop() > 1400) {
		$('#back-to-top').fadeIn();
	} else {
		$('#back-to-top').fadeOut();
	}
});
// scroll body to 0px on click
$('#back-to-top').click(function () {
	$('#back-to-top').tooltip('hide');
	$('body,html').animate({
		scrollTop: 0
	}, 800);
	return false;
});

$('#back-to-top').tooltip('show');


$('#myCarousel').carousel();
    var winWidth = $(window).innerWidth();
    $(window).resize(function () {

        if ($(window).innerWidth() < winWidth) {
            $('.carousel-inner>.item>img').css({
                'min-width': winWidth, 'width': winWidth
            });
        }
        else {
            winWidth = $(window).innerWidth();
            $('.carousel-inner>.item>img').css({
                'min-width': '', 'width': ''
            });
        }
    });

/*$(".cart-items").hover(function(){
    $('.shopping-cart-show').removeClass('hidden');
},function(){
    $('.shopping-cart-show').addClass('hidden');
});
*/


$(".cart-items").click(function () {
  if ($(".shopping-cart-show").is(":hidden")) {
      $(".shopping-cart-show").slideDown("slow");
  } else {
      $(".shopping-cart-show").hide();
  }
});

$(".shopping-cart-show").mouseleave(function(){
    $(this).hide();
});

	
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:15,
    nav:true,
	dots:false,
	navText: ["<i class='fa fa-angle-left' aria-hidden='true'></i>","<i class='fa fa-angle-right' aria-hidden='true'></i>"],
    responsive:{
        0:{
            items:1
        },
        600:{
            items:4
        },
        1000:{
            items:4
        }
    }
})
	
	 
	
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js'></script>
<!--<script>
$(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    })
});
</script>-->


</body>
</html>
