<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Bharat Petroleum |Oil & Gas Companies in India |Top Petroleum Companies | Petroleum Distribution companies</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/login.css">
  <link rel="stylesheet" href="assets/css/style.css">
  
  <style>
  .collapse:not(.show) {
    display: block;
}
</style>
</head>
<body>
<header>
   <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/images/logo-new.png" alt="logo" class="logo">
            </div>
              <div class="col-md-7">
                  <h2>Energising the Nation</h2>
                  <hr/>
                  <p>BPCL refineries are equipped with latest global technologies to produce BS VI fuels</p>
            </div>
        </div> 
    </div>    
</header>
<section class=" login-reg">
    <div class="container">
        <div class="row">
            	<div class="login-main">
		        	<div class="login">
		        	    
		        	    <!--breadcrumbs-->
<div class="container-fluid">
	<div class=" page-nm">
    <i class="fa fa-home" aria-hidden="true"></i>&nbsp; <i class="fa fa-angle-right"></i> &nbsp;Agri Gold Palmolein Oil


    </div>
</div>
<!--breadcrumbs-->


        	
			           <div class="product_list_right">
    
    <div class="product_list_sort">
    	<ul>
        <li>Sort By : <select><option>Default</option><option> Alphabetical </option><option>Price: High to Low</option><option>Price: Low to High</option></select></li>
        </ul>
    </div>

    
    <div class="product_list_right_main">
    	<ul>
        <li>
        <div class="lprodut_img">
          <a href="#"><img src="assets/images/product1.jpg"></a>
        </div>
        <p class="late_pro_title"><a href="#">Agri Gold Palmolein Oil </a></p>
        <p class="late_pro_price"><span><i class="fa fa-rupee"></i> 1400</span> <i class="fa fa-rupee"></i> 719</p>
        <p><div class="number">
	<span class="minus">-</span>
	<input type="text" value="1"/>
	<span class="plus">+</span>
            </div></p>
        <div class="late_pro_btn">
         <a href="#"><i class="fa fa-heart"></i></a><a href="#">add to cart</a>
        </div>
        </li>
        
           <li>
        <div class="lprodut_img">
          <a href="#"><img src="assets/images/product1.jpg"></a>
        </div>
        <p class="late_pro_title"><a href="#">Agri Gold Palmolein Oil </a></p>
        <p class="late_pro_price"><span><i class="fa fa-rupee"></i> 1400</span> <i class="fa fa-rupee"></i> 719</p>
        <p><div class="number">
	<span class="minus">-</span>
	<input type="text" value="1"/>
	<span class="plus">+</span>
            </div></p>
        <div class="late_pro_btn">
         <a href="#"><i class="fa fa-heart"></i></a><a href="#">add to cart</a>
        </div>
        </li>
        
        
           <li>
        <div class="lprodut_img">
          <a href="#"><img src="assets/images/product1.jpg"></a>
        </div>
        <p class="late_pro_title"><a href="#">Agri Gold Palmolein Oil </a></p>
        <p class="late_pro_price"><span><i class="fa fa-rupee"></i> 1400</span> <i class="fa fa-rupee"></i> 719</p>
        <p><div class="number">
	<span class="minus">-</span>
	<input type="text" value="1"/>
	<span class="plus">+</span>
            </div></p>
        <div class="late_pro_btn">
         <a href="#"><i class="fa fa-heart"></i></a><a href="#">add to cart</a>
        </div>
        </li>
        
            
           <li>
        <div class="lprodut_img">
          <a href="#"><img src="assets/images/product1.jpg"></a>
        </div>
        <p class="late_pro_title"><a href="#">Agri Gold Palmolein Oil </a></p>
        <p class="late_pro_price"><span><i class="fa fa-rupee"></i> 1400</span> <i class="fa fa-rupee"></i> 719</p>
        <p><div class="number">
	<span class="minus">-</span>
	<input type="text" value="1"/>
	<span class="plus">+</span>
            </div></p>
        <div class="late_pro_btn">
         <a href="#"><i class="fa fa-heart"></i></a><a href="#">add to cart</a>
        </div>
        </li>
        
       
        </ul>
    </div>
    </div>
		
			</div>
		</div>	
	</div>
</section>	

<footer>
    <p>2020 Copyright Bharat Petroleum Corporation Limited All Rights Reserved.</p>
</footer>



  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
    <script>
  	$(document).ready(function() {
			$('.minus').click(function () {
				var $input = $(this).parent().find('input');
				var count = parseInt($input.val()) - 1;
				count = count < 1 ? 1 : count;
				$input.val(count);
				$input.change();
				return false;
			});
			$('.plus').click(function () {
				var $input = $(this).parent().find('input');
				$input.val(parseInt($input.val()) + 1);
				$input.change();
				return false;
			});
		});
		
	  </script>	
		
<script>
$(document).ready(function() {   
            var sideslider = $('[data-toggle=collapse-side]');
            var sel = sideslider.attr('data-target');
            var sel2 = sideslider.attr('data-target-2');
            sideslider.click(function(event){
                $(sel).toggleClass('in');
                $(sel2).toggleClass('out');
            });
        });
</script>
<script>
$(document).ready(function () {
			  $(".navbar-toggle").on("click", function () {
				    $(this).toggleClass("active");
			  });
		});
</script>
<!--carosel-->
<!--login-->
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdowns").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtns')) {

    var dropdowns = document.getElementsByClassName("dropdowns-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<!--sticky header-->
<script src="js/jquery-scrolltofixed-min.js" type="text/javascript"></script>
<script type="text/javascript">
		$(document).ready(function() {
  			$('.nav1').scrollToFixed();
		});
</script> 
<script type="text/javascript">
		$(document).ready(function() {
  			$('.nav2').scrollToFixed();
		});
</script> 
 <!--search-->
<script>
function openSearch() {
    document.getElementById("myOverlay").style.display = "block";
}

function closeSearch() {
    document.getElementById("myOverlay").style.display = "none";
}
</script>  
<!--filter expand collpase-->
<script>
$( "h6" ).click(function() {
  $( this ).toggleClass( "down_arrow" );
});
</script>
<!--mobile filter-->
<script>
 $('.panel-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.panel-heading').addClass('active');
  });

  $('.panel-collapse').on('hide.bs.collapse', function () {
    $(this).siblings('.panel-heading').removeClass('active');
  });
</script>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

</body>
</html>
